<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%#= gravatar_for @user %>
        <%= @user.name %>
        <li><%= link_to "レキシを追加", rekishi_path %></li>
        <li><%= link_to "ジダイを追加", jidai_path %></li>
     </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.rekishis.any? %>
     <!-- <h3>Rekishis (<%= @user.rekishis.count %>)</h3>-->
      <ol class="rekishis">
        <%= render @rekishis %>
      </ol>
    <% end %>
  </div>
</div>