        <%= image_tag 'https://user-images.githubusercontent.com/31360339/29855633-1faad8a4-8d88-11e7-995a-a32e51d52c48.png', :alt => ' ジダイを刻め' %>
<br>
<br>
<%= form_for(@jidai) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.select :rekishi_id, current_user.rekishis %>
  <div class="field">
    <%= f.text_area :name, placeholder: "Compose new jidai..." %>
  </div>

  <label class="control-label" for="">開始日</label>
  <%= f.date_select :start_date, {start_year: 1960, end_year: Time.now.year}, class: 'form-control' %>

  <label class="control-label" for="">終了日</label>
  <%= f.date_select :end_date, {start_year: 1960, end_year: Time.now.year}, class: 'form-control' %>


  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
